{
    "base": "http://media-stage.deseretdigital.com",
    "key": "",
    "keys": {
        "hive": "",
        "dc": "",
        "ksl": ""
    },
    "varnish": [
        "http://ddmmedia-varnish01.deseretdigital.com",
        "http://ddmmedia-varnish02.deseretdigital.com",
        "http://ddmmedia-varnish03.deseretdigital.com"
    ]
}
